// Primary colors
$color-white: #fff;
$color-black: #000;
$color-light-gray: #c9c7c5;
$color-gray: #717171;
$color-dark-gray: #383838;
$color-accent: #1cba9b;
$color-accent-light: #e5f5f2;
$color-accent-medium: #b9efe4;
$color-accent-dark: #379B87;