@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,500,600,700,800|Roboto:300,400,500');

$font-nunito-sans: 'Nunito Sans', sans-serif;
$font-roboto: 'Roboto', sans-serif;

//Font weights
$font-thin: 300;
$font-normal: 400;
$font-regular: 500;
$font-medium: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;
