@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700|Cousine:700&display=swap');

$font-poppins: 'Poppins', sans-serif;
$font-cousine: 'Cousine', sans-serif;

//Font weights
$font-thin: 300;
$font-normal: 400;
$font-regular: 400;
$font-medium: 500;
$font-demibold: 600;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;
