.blog-block {
    &__grid {
        width: 100%;
    }

    &__post {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &__more
    {
        margin: 5rem 0 10rem 0;
    }

    &__item {
        margin-top: 2rem;
        margin-bottom: 2rem;
        height: 54rem;
        text-decoration: none;
        display: block;
        position: relative;
        box-shadow: 0.8rem 1.4rem 4rem rgba(40,40,40,.06), 1px 3px 8px rgba(40,40,40,.03);

        &:hover {
            text-decoration: none;
            color: $color-accent;
            cursor: pointer;
            
            h3, p {
                color: $color-accent;
            }
        }
    }

    &__header {
        height: 19rem;
        width: 100%;
        background: {
            color: #eee;
            size: cover;
            position: center;
        }
        position: relative;

        & a {
            display: block;
            height: 100%;
        }

        &__wide{
            height: 20rem;
        }
    }

    &__content {
        padding: 2.5rem 2rem 1.5rem 2rem;
    }

    &__category {
        color: $color-accent-dark;
        text-transform: uppercase;
        font: {
            size: 1.2rem;
        }

        a {
            color: $color-accent-dark;
        }
    }

    &__date {
        color: $color-gray;
        letter-spacing: .02rem;
        text-transform: uppercase;
        font: {
            size: 1.4rem;
        }
        display: block;
        margin-bottom: 2.5rem;
        margin-top: 0.5rem;
    }

    &__title {
        display: block;
        font: {
            size: 2.2rem;
        }
        line-height: 1.5;
        margin-right: 4rem;

        & a {
          color: $color-dark-gray;
        }
    }

    &__links {
        padding: 2rem 2rem 3rem 2rem;
        position: absolute;
        bottom: 0;
    }

    &__intro {
        display: block;
        font: {
            size: 1.6rem;
        }
        line-height: 1.8;
        color: $color-gray;
    }

    &__link {
        text-decoration: none;
        color: $color-white;
        background: {
            color: $color-accent;
        }
        font: {
            size: 1.2rem;
        }
        padding: 1rem 2rem;
        display: block;
        width: fit-content;
        transition: all .25s ease;

        &:hover {
            text-decoration: none;
            background: {
                color: $color-accent;
            }
        }
    }

    &__more-link {
        color: $color-accent-dark;
        text-transform: uppercase;
        font: {
            size: 1.4rem;
            font-weight: $font-medium;
        }
    }
}