<div class="col col-12 col-d-12 col-t-12">
  <div class="widget widget-recent">
    <div class="widget__head">
      <h3 class="widget__title">Recent Posts</h3>
    </div>
    {% for post in site.posts limit:5 %}
    <a class="recent-posts tiled" href="{{ post.url }}">
      {% if post.image %}
	  <div class="recent-posts__image">
      <img class="lazy" data-src="{{site.baseurl}}{{post.image}}" alt="{{ post.title }}">
	  </div>
      {% else %}
      {% endif %}
      <div class="recent-posts__content">
        <h4 class="recent-posts__title">{{ post.title | strip_html | truncate: 250 }}</h4>
		<p class="recent-posts__description">
			{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | truncate: 250 }}{% endif %}
		</p>
        <div class="recent-posts__date">
          <time class="timeago" datetime="{{ post.date | date_to_xmlschema }}">{{post.date | date: "%b %-d, %Y"}}</time>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
