h1,
h2,
h3,
h4,
h5,
h6 {

}

h1 {
  color: $color-dark-gray;
  font: {
    size: 4.8rem;
    weight: $font-bold;
    family: $font-poppins;
  }
  margin: 0 12rem;
  line-height: 1.3;
}

h2 {
  color: $color-dark-gray;
  font: {
    size: 3.6rem;
    weight: $font-bold;
    family: $font-poppins;
  }
}

h3{
  color: $color-dark-gray;
  font: {
    size: 2.2rem;
    weight: $font-bold;
    family: $font-poppins;
  }
}