.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $color-dark-gray;
    color: $color-light-gray;
    padding: 2.5rem 0;
    flex-direction: column;


    &__social {
        display: flex;
        flex-direction: row;

        @media screen and (max-width: $viewport-sm) {
            margin-top: 2rem;
        }
    }

    &__social-link {
        padding: 0 .8rem;
    }

    &__social-img 
    {
        & img {
            height: 3rem;
            margin-right: .8rem;

            &:hover {
                transform: scale(1.15);
                transition: transform 0.25s ease-in-out;
            }
        }
    }

    &__social-logo {
        color: $color-light-gray;
        font-size: 1.6rem;

        &:hover {
            transform: scale(1.15);
            transition: transform 0.25s ease-in-out;
        }
    }

    &__copyright {
        font: {
            size: 1.4rem;
            weight: $font-regular;
        }
    }

    &__wrapper {
        width: 100%;
        align-items: center;
    }

    a {
        color: $color-white;
        text-decoration: none;

        &:hover {
           opacity: 0.8;
        }
    }

    &__items{
        display: flex;
        align-items: center;
    }

    & li {
        line-height: 3;

        & a {
            vertical-align: middle;
        }

        & img {
            vertical-align: middle;
        }
    }

    // &__credits {
    //     display: flex;
    //     flex-direction: row;
    //     margin-left: 1rem;

    //     @media screen and (max-width: $viewport-sm) {
    //         margin-top: 2rem;
    //     }

    //     li{
    //         padding: 0 .5rem;
    //     }
    // }
}