html, body {
    height: 100%;
    position: relative;
}

html {
    overflow-x: hidden;
}
  
body {
   background: $color-white;
   color: $color-gray;
   letter-spacing: 0.04em;
   font: {
       family: $font-poppins;
       weight: $font-thin;
   }
}
