html, body {
    height: 100%;
    position: relative;
}

html {
    overflow-x: hidden;
}
  
body {
   background: $color-white;
   color: $color-gray;
   font: {
       family: $font-poppins;
       weight: $font-regular;
   }
   line-height: 1.8;
}