.section {
    padding: 5rem 0;
    position: relative;
    height: 100%;
    z-index: 1;

    @media screen and (max-width: $viewport-sm) {
        padding: 2rem 0;
    }

    &__title {
        color: $color-dark-gray;
        margin-bottom: 2rem;

        @media screen and (max-width: $viewport-sm) {
            font: {
                size: 2.6rem;
            }
        }
    }

    &__description {
        color: $color-gray;
        font: {
            size: 1.6rem;
        }
        line-height: 1.8;
        margin-bottom: 6rem;
    }

    &__title,
    &__description {
       text-align: center;
    }

    &--blogs,
    &--projects {
        &:before {
            content: "";
            background: {
                color: $color-accent;
            }
            width: 10rem;
            height: .3rem;
            display: block;
            margin: 0 auto;
            margin-bottom: 5rem;
        }
    }
}