/* Footer */
.footer {
  padding-top: 70px;
  background: $background-color-alt;

  .row .col {
    flex-grow: 1;
  }

  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    transform: translateY(-10%);
    display: block;
    width: 100%;
    height: 50%;
    background-image: -webkit-repeating-radial-gradient(center center, rgba($brand-color, .7), rgba($brand-color, .7) 2px, transparent 2px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba($brand-color, .7), rgba($brand-color, .7) 2px, transparent 2px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba($brand-color, .7), rgba($brand-color, .7) 2px, transparent 2px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba($brand-color, .7), rgba($brand-color, .7) 2px, transparent 2px, transparent 100%);
    -webkit-background-size: 15px 15px;
    -moz-background-size: 15px 15px;
    background-size: 15px 15px;
  }
}

//   .footer__inner {
//     padding: 60px 0;
//     margin: 0 60px 0;
//     background-image: -webkit-repeating-radial-gradient(center center, rgba($brand-color, .7), rgba($brand-color, .7) 2px, transparent 2px, transparent 100%);
//     background-image: -moz-repeating-radial-gradient(center center, rgba($brand-color, .7), rgba($brand-color, .7) 2px, transparent 2px, transparent 100%);
//     background-image: -ms-repeating-radial-gradient(center center, rgba($brand-color, .7), rgba($brand-color, .7) 2px, transparent 2px, transparent 100%);
//     background-image: repeating-radial-gradient(center center, rgba($brand-color, .7), rgba($brand-color, .7) 2px, transparent 2px, transparent 100%);
//     -webkit-background-size: 15px 15px;
//     -moz-background-size: 15px 15px;
//     background-size: 15px 15px;
//   }

//   .footer__head {
//     margin: 0 -60px;
//     padding: 60px;
//     background: $background-color-alt;
//     box-shadow: 0 10px 40px rgba(0,0,0,0.07);
//   }

//   .footer__content {
//     padding: 60px 0;
//   }

//   @media only screen and (max-width: $desktop) {
//     .row .col:last-child>.widget {
//       margin-bottom: 0;
//     }
//   }

//   @media only screen and (max-width: $tablet) {
//     padding-top: 60px;

//     .footer__inner {
//       padding: 0;
//       margin: 0;
//       background-image: none;
//     }

//     .footer__head {
//       margin: 0;
//       padding: 0;
//       box-shadow: none;
//     }
//   }

//   @media only screen and (max-width: $mobile) {
//     padding-top: 50px;
//   }
// }

// /* Widgets */
// .widget {
//   @media only screen and (max-width: $desktop) {
//     margin-bottom: 30px;
//   }

//   @media only screen and (max-width: $mobile) {
//     margin-bottom: 40px;
//   }
// }

// .widget__head {
//   margin-bottom: 20px;

//   .widget__title {
//     margin: 0;
//     font-size: 24px;
//     color: $text-color;
//   }
// }

// .widget-gallery {
//   padding: 0 35px;

//   @media only screen and (max-width: $desktop) {
//     padding: 0;
//   }
// }

.widget-recent {
	max-width: 850px;
    margin: 0 auto;
}

.recent-posts {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	padding: 8px;
		&:last-child {
		margin-bottom: 0;
	}
    transition: transform .2s;

    &:hover {
      transform: translateY(-3px);
	  background-color: $brand-accent;
    }

	// .recent-posts__header {
	//   margin-right: 15px;
	// }

	&__image {
		position: relative;
		display: block;
		margin-right: 15px;
		min-width: 200px;
		height: 146px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-color: $background-color;

		img {
			position: absolute;
			border-radius: $global-radius;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__content{
		align-items: center;
	}

	&__date {
	  margin-bottom: 5px;
	  font-size: 14px;
	  line-height: 16px;
	  color: $text-color-alt;
	}

	&__description{
		margin-bottom: 16px;
		font-size: 16px;
		line-height: 1.6;
		margin-right: 16px;
	}

	&__title {
		margin-bottom: 0;
		font-size: 25px;
		margin-bottom: 16px;
		line-height: 25px;
		letter-spacing: -0.5px;
		font-weight: 700;
		a {
			color: $text-color;
			&:hover {
			color: $text-color;
			}
		}
	}
}

// /* Widget Subscribe */
// .widget-subscribe {

//   .subscribe__inner {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//   }
//   .subscribe__group {
//     margin-bottom: 20px;

//     .subscribe__title {
//       margin-bottom: 15px;
//       color: $text-color;
//     }

//     .subscribe__description {
//       font-size: 15px;
//       line-height: 22px;
//       color: $text-color-alt;
//     }
//   }

//   .subscribe-form {
//     position: relative;
//     height: 60px;

//     .subscribe-email {
//       width: 100%;
//       height: 100%;
//       padding: 20px;
//       font-size: 14px;
//       line-height: 19px;
//       font-weight: 500;
//       color: rgba($text-color, 0.8);
//       border: 2px solid $border-color;
//       background: transparent;
//       transition: border-color .2s ease-in-out;
//       outline: 0;

//       &::placeholder {
//         color: rgba($text-color, 0.8);
//       }

//       &:focus {
//         color: rgba($text-color, 0.8);
//         border-color: $brand-color;
//       }
//     }

//     .subscribe-button {
//       position: absolute;
//       top: 10px;
//       right: 10px;
//       height: 40px;
//       padding: 0 15px;
//       font-size: 14px;
//     }

//     @media only screen and (max-width: 1130px) {
//       .subscribe-email {
//         font-size: 13px;
//       }

//       .subscribe-button {
//         font-size: 14px;
//       }
//     }
//   }
// }

/* Copyright */
.copyright {
  padding: 0 0 30px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: $text-color-alt;

  a {
    &:hover {
      color: $brand-color;
    }
  }

  @media only screen and (max-width: $tablet) {
    text-align: left;
  }
}
