/* Contact */
.social {
  margin: 60px 0 0;
  text-align: center;

  .social__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .social__item {
    display: inline-block;
    margin: 0 2px;
	transition: transform .2s;

    &:hover {
      background-color: $brand-color-light;
      transform: translateY(-3px);
    }
  }

  .social__link {
    position: relative;
    z-index: 1;
    padding: 0 10px;
    font-size: 21px;
    line-height: 1;
	vertical-align: middle;
	margin-top:-2px;
  }

  @media only screen and (max-width: $tablet) {
    margin: 50px 0 0;
    text-align: left;

    .social__list {
      justify-content: start;
    }
  }
}
